body {
    margin: 0;
    padding: 0;
    font-family: roboto, serif;
    overflow-x: hidden;
}

#particles-js {
    background: #121212;
    height: 208vh;
    width: 100vw;
}

.main-container {
    position: absolute;
}

.topheader {
    padding-top: 9px;
    height: 50px;
    width: 100vw;
    background-color: #1e1e1e;
    border-bottom: 1px solid #252527;
    margin-bottom: 25px;
}

ul {
    list-style: none;
    margin: 0;
    color: #e1e1e1;
    padding-top: 5px;
    padding-right: 20px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

li {
    font-size: 16px;
}

a:hover {
    text-underline: none;
    color: #FF4181;
    transition: .3s ease-in-out;
}

.announcements {
    color: #e1e1e1;
    padding-top: 5px;
}

.main-header {
    padding-top: 3px;
    height: 75px;
    width: 100vw;
    background-color: #1e1e1e;
    border-bottom: 1px solid #252527;
}

.main-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-img {
    margin-top: -20px;
}

.header-imgtext {
    margin-top: 4px;

}

.header {
    color: white;
}

a {
    color: #e1e1e1;
}

/* Unvisited link  */
a:visited {
    color: #e1e1e1;
}

/* Visited link    */
a:hover {
    color: #e1e1e1;
}

/* Mouse over link */
a:active {
    color: #e1e1e1;
}


.fluid button {
    color: #e1e1e1;
    width: 50%;
    font-size: 99px;
    border: none;
}

.pay-button:hover {
    cursor: pointer;
}

footer {
    background-color: #1e1e1e;
    width: 100%;
    height: 75px;
    border-top: #FF4181 1px solid;
}

.footer-copyright {
    padding-top: 20px;
    color: #e1e1e1;
    text-align: center;
}

.discord {
    cursor: pointer;
}

.countdown-container {
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid #FF4181;
    margin-bottom: 15px;

}

.countdown-title {
    color: #e1e1e1;
    font-weight: 900;
     margin-right: 10px;
}

#countdown {
    color: #FF4181;
    font-size: 24px;
    font-weight: 700;
}